# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives:__

* List of Data Science languages.
* List of Data Science libraries.
* Tools in Data Science.
* Few examples of Arithmetic Expressions.
* Simple Arithmetic Expression to mutiply then add integers.
* Converting minutes to hours.


__List of data science language__

Some of the popular languages that Data Scientists use are:

1. Python
2. R.
3. Java
4. SQL.
5. C/C++
6. JavaScript



__List of data science libraries -__

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib
6. PyTorch
7. SciKit-Learn



__Tools in Data Science -__

| Data Science Tools |
| ------------------ |
| Apache Spark |
| Mongo DB |
| BigML |

### Below are a few examples of evaluating Arithmetic Expressions in Python

In [17]:
# Arithmetic Expressions
code = (1 + 2)
print(code)
# Result: 3

3

In [18]:
code1 = (1 + 1)*3
print(code1)
# Result: 6

6

In [19]:
code2 = pow(1, 2)
print(code2)
# Result: 1

1

In [20]:
code3 = (1-2)
print(code3)
# Result: -1

-1

In [21]:
code4 = 1/2
print(code4)
# Result: 0.5

0.5

In [22]:
# This a simple arithmetic expression to mutiply then add integers 

code5 = (1*2)+3 
print(code5)

5

In [23]:
# Convert minutes to hours
# This will convert 120 minutes to hours by diving by 60
code6 = 120/60
print(code6)

2.0

## Author: 
Omar Nadeem Siddique